<p>HI!</p>
<p>Your Captum subscription will be automatically renewed in 3 days.<br/><br/>
    Please make sure you have enough funds on your current payment method.<br/><br/>
    You can manage your subscriptions on the profile page of Captum app.<br/><br/>
    Thanks!
</p>
<hr>
<p>Captum App Team<br/>
<a href="info@captumapp.com">info@captumapp.com</a><br/>
<a href="www.captumapp.com">www.captumapp.com</a></p>