<p>HI!</p>
<p>{{ code }}  - your verification code to create a Captum account.<br/><br/>
If it was not you who requested this code, just ignore this message.</p>
<hr>
<p>Captum App Team<br/>
<a href="info@captumapp.com">info@captumapp.com</a><br/>
<a href="www.captumapp.com">www.captumapp.com</a></p>