<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    </head>
    <body>
    <div class="application-block">
        <div class="application-block__header">
            <h3 class="application-block__title">
                <p style="text-decoration: underline; text-align: center;">Captum Privacy Policy</p>
                <span style="text-align: center; display: block; font-weight: normal;">Effective: March 1, 2019</span>
            </h3>
        </div>
        <div class="application-block__body">
            <span style="font-weight: normal; text-align: center; display: block;">
                Captum ("Company") understands that privacy is important.
                This privacy policy applies to all of the online services ("Services") offered by Company, (and does not necessarily reflect Company’s offline policies).
            </span>
            <ol>
                <li>
                    <span style="font-weight: bold;">Information we Collect and How we Use It.</span>
                    <span>Company collects information about you when you sign up with Company, when you use the Services, and when you visit Company webpages.</span>
                    <br><br>
                    <ol type="a">
                        <li>
                            <span style="font-weight: bold;">Registration.</span>
                            <span> When you sign up for any Company Service we ask you for information relevant to the service being requested, which may include your name, Apple ID, email address, website, physical address, phone number, and password information.
                                We may also ask you for payment information, but such information is not retained by Captum but may processed through PayPal.
                                Apple user’s payments shall be processed by Apple Payment Systems.</span><br><br>
                        </li>
                        <li>
                            <span style="font-weight: bold;">Cookies.</span>
                            <span>When you visit Captum.com, we send one or more cookies - a small file containing a string of characters - to your device that uniquely identifies your browser.
                                We use cookies to improve the quality of our service by storing user preferences and tracking user trends.
                                Company also allows other companies that provide services on some of our pages to set and access their cookies on your device.
                                Other companies’ use of their cookies is subject to their own privacy policies.  Other companies do not have access to Company’s cookies.</span><br><br>
                        </li>
                        <li>
                            <span style="font-weight: bold;">Server Log Information.</span>
                            <span>When you use the Services, our servers automatically record information that your browser sends whenever you visit a website.
                                These server logs may include information such as your Internet Protocol address, cookie information, and the pages you request.</span><br><br>
                        </li>
                        <li>
                            <span style="font-weight: bold;">User Communications.</span>
                            <span>When you send email or other communications to Company, Company may retain those communications indefinitely.</span><br><br>
                        </li>
                        <li>
                            <span style="font-weight: bold;">Use of Information.</span>
                            <span>Company uses information for the following general purposes: to customize the content you see, to fulfill your requests for products or services, to contact you regarding products and services in which you may have an interest, to improve our services, and to contact you when necessary.
                                Company may also disclose your personal information to respond to subpoenas, court orders, or legal process, or to establish or exercise our legal rights or defend against legal claims.
                                Company may also disclose your personal information if Company believes it is necessary to share information in order to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of Company’s Terms, or as otherwise required by law.
                                Company may share with third parties certain aggregated, non-personal information.  Such information does not identify you personally.</span><br><br>
                        </li>
                    </ol>
                </li>
                <li>
                    <span style="font-weight: bold;">Children’s Online Privacy Protection Act Notices.</span><br><br>
                    <ol type="a">
                        <li>
                            <span style="font-weight: bold;">Prohibition of Disclosure of Information.</span>
                            <span>Children under 13 are not permitted to disclose any personally identifying information in relation to any Service.
                                This means that children may not register for any product or service. </span><br><br>
                        </li>
                        <li>
                            <span style="font-weight: bold;">Filtering Notices.</span>
                            <span>There are commercially available services and software that limit access to objectionable information.</span><br><br>
                        </li>
                    </ol>
                </li>
                <li>
                    <span style="font-weight: bold;">Modification or Deletion of Account Information.</span>
                    <span>You can edit or delete your account information at any time by sending your request to support@captum.com.
                        Some information about you and your account may remain in our archived records after modification and/or deletion.</span><br><br>
                </li>
                <li>
                    <span style="font-weight: bold;">Sale or Merger of Business.</span>
                    <span>If Company becomes involved in a merger, acquisition, or any form of sale of some or all of its assets, we will transfer the information to the resulting entity, which may or may not utilize the same privacy policy.</span><br><br>
                </li>
                <li>
                    <span style="font-weight: bold;">Changes.</span>
                    <span>Company may update this policy at any time.
                        We will notify you about significant changes in the way we treat personal information by placing a prominent notice on our website.</span><br><br>
                </li>
                <li>
                    <span style="font-weight: bold;">Comments or Questions.</span>
                    <span>If you have any questions or comments about this policy, please contact Company at support@captum.com.</span><br><br>
                </li>
            </ol>
        </div>
    </div>
    </body>
</html>